:root {
  --primary-background: #eeeeee;
  --primary-foreground: #000000;
  --secondary-background: #ffffff;
}

@font-face {
  font-family: Work Sans;
  src: url(fonts/workR.ttf);
}

@font-face {
  font-family: Galano Grotesque DEMO;
  src: url(fonts/galano.otf);
}

body {
  margin: 0;
  overflow-x: hidden;
  background-color: var(--primary-background);
  font-family: Work Sans;
}

.heading {
  font-family: Galano Grotesque DEMO;
}

nav {
  width: 100%;
  height: 10vh;
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: center;
  z-index: 100;
  transition: all 0.2s;
}

.nav-logo {
  position: absolute;
  left: 20vw;
}

.nav-links {
  position: absolute;
  right: 20vw;
}

.nav-link {
  display: inline-block;
}

.raised-container {
  background-color: var(--secondary-background);
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.05);
  border-radius: 5px;
}

.kfeatures {
  margin-top: 100px;
}

.kfeature {
  margin: 75px 0;
}

.kfeature-left {
  left: 0;
  display: inline-block;
  margin-right: 5%;
}

.kfeature-right {
  right: 0;
  display: inline-block;
}

.kfeature-image {
  width: 40%;
}

.kfeature-image img {
  width: 100%;
}

.kfeature-image.kfeature-left {
  margin-left: 10%;
}

.kfeature-text.kfeature-left {
  margin-left: 5%;
}

.kfeature-text {
  width: 40%;
  position: relative;
}

.kfeature-text-ghost {
  position: absolute;
  top: -100px;
  right: 100px;
  font: 200px Galano Grotesque DEMO;
  color: #00000015;
}
